@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,400;0,600;1,200&family=Roboto:wght@300;400&family=Rubik+Mono+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100%;
    overflow: auto;
    background: url(/images/banner.jpg) no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    position: relative;
}


.container {
    height: auto;
    width: 100vw;
    margin: 2rem 0 0 2rem;
    padding: 1rem;
}

h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 3em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
    h1 {
        position: relative;
        font-family: 'Exo';
        text-align: center;
        font-size: 3em;
        margin: 0;
        transform: skew(-15deg);
        letter-spacing: 0.02em;
    }
}
    
    h1::after {
      content: '';
      position: absolute;
      top: -0.1em;
      right: 0.05em;
      width: 0.4em;
      height: 0.4em;
      background: 
        radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
      background-repeat: no-repeat;
    }
    
    h1 span:first-child {
      display: block;
      text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
      -webkit-text-stroke: 0.06em rgba(black, 0.5);
    }
    
    h1 span:last-child {
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(#fff 25%, #fff 35%, #fff 50%, #fff 50%, #fff 55%, #fff 75%);
      -webkit-text-stroke: 0.01em #94a0b9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


.user-form {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 2rem;
}

/* .logo {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.logo .logo-img {
    width: 10rem;
    height: 5rem;
} */


form {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 2rem;
    grid-template-rows: auto auto;
}

.user-input {
    grid-column-start: 1;
}

label {
    color: white;
}

input {
    background: rgba(223, 218, 218, 0.479);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

input::placeholder {
    color: rgba(224, 221, 221, 0.7);
    font-weight:500;
}

select {
    -webkit-appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    background-color: #c0435abb;
    color: white;
    width: 12.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.category-toggle {
    margin: 5px;
    font-weight: bold;
   grid-column-end: 3;
   display: none;
}

.from-date, .to-date {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.from-date > label, .to-date > label {
    margin: 5px;
}

.btn {
    border: none;
}

.update-btn {
    width: 10rem;
    /* margin-left: 1.5rem; */
    background-color: #c0435a67;
    color: white;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
}

.update-btn:hover, .submit-btn:hover {
    background-color: #C3435A;
}

.submit-btn {
    display: none;
    width: 8rem;
    /* margin: 1rem 2rem 0 2rem; */
    background-color: #c0435a67;
    color: white;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    /* margin-right: 5px; */
    border-radius: 5px;
}

.form_alert {
    width: 25rem;
    margin: 0 auto;
}

@media screen and  (max-width: 768px) {

    html, body {
        width: 100vw;
        height: 100%;
        overflow: auto;
        background: url(/images/bg.png) no-repeat center center fixed;
        min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: "Poppins", serif;
        position: relative;
    }

    
    .container {
        height: auto;
        width: 100vw;
        margin: 2rem 0 0 1rem;
        padding: 1rem;
    }

    .user-form {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin-top: 2rem;
    }
    
    form {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2rem;
        grid-template-rows: auto auto;
    }

    select {
        -webkit-appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 5px;
        font-weight: bold;
        background-color: #c0435abb;
        color: white;
        width: 12.5rem;
        border-radius: 5px;
        padding: 0.5rem;
        text-align: center;
    }

    .category-toggle {
        grid-column-start: 2;
        display: none;
    }

    .form_alert {
        width: 20rem;
        margin-right: 1rem;
        transition-timing-function: ease-out;
    }
}

@media screen and  (max-width: 550px) {

    .container {
        height: auto;
        width: 100vw;
        margin: 2rem 0 0 1rem;
        padding: 1rem;
    }

    .user-form {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin-top: 2rem;
    }
    
    form {
        display: grid;
        grid-template-columns:20% 80%;
        gap: 2rem;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
    }

    .user-input {
        grid-column-start: 2;
    }

    .category-toggle {
        grid-column-start: 2;
        display: none;
        justify-content: center;
        align-content: center;
    }
    
}

